.quemSomos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.quemSomos--titulo {
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 0;
}

.quemSomos--informacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.quemSomos--descricao {
    display: block;
    width: 50%;
    padding: 1rem 3rem;
}

.quemSomos--descricao p {
    padding: 0.5rem 0;
    font-size: 1.125rem;
}

.quemSomos--video {
    display: block;
    padding: 1rem 1rem;
}

@media (min-width: 0px) and (max-width: 768px) {
    .quemSomos--titulo {
        font-size: 1.75rem;
        font-weight: bold;
        padding: 0 0;
    }
    .quemSomos--informacao {
        flex-direction: column;
    }

    .quemSomos--descricao {
        width: 90%;
        padding: 1rem 0;
    }

    .quemSomos--descricao p {
        padding: 0.5rem 0;
        font-size: 1rem;
    }

    .quemSomos--video {
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .quemSomos--titulo {
        font-size: 2rem;
        font-weight: bold;
        padding: 0 0;
    }
    .quemSomos--informacao {
        flex-direction: column;
    }

    .quemSomos--descricao {
        width: 90%;
        padding: 1rem 0;
    }

    .quemSomos--descricao p {
        padding: 0.5rem 0;
        font-size: 1rem;
    }

    .quemSomos--video {
        width: 70%;
    }
}
