@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: #1c1818;
    background-image: linear-gradient(#fafafa, #8d8a8b);
}

.botao {
    text-align: center;
    display: block;
    padding: 1rem 5rem;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 2.5rem;
    text-decoration: none;
    margin-top: 0.5rem;
    opacity: 1;
    transition: ease-in-out 0.5s;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.botao:hover {
    opacity: 0.8;
}
