.clientes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clientes--titulo {
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 0;
}

.clientes--logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.clientes--imagens-logos {
    height: 150px;
    margin: 2rem;
}

@media (max-width: 768px) {
    .clientes--titulo {
        font-size: 1.75rem;
        padding: 2rem 0 1rem 0;
    }
    
    .clientes--imagens-logos {
        width: 30%;
        margin: 0.5rem;
    }
}

@media (max-width: 1024px) {
    .clientes--titulo {
        font-size: 2rem;
        padding: 2rem 0 1rem 0;
    }
    
    .clientes--imagens-logos {
        width: 30%;
        margin: 0.5rem;
    }
}